* {
	box-sizing: border-box;
}

#chat-section {
	display: flex;
	flex-direction: column;
	width: 60%;
	background-color: #016379;
	padding: 20px;
	/* margin: 40px; */
	height: 70vh;
}

.chat-header {
	width: 100%;
	background-color: white;
	padding: 10px;
	margin-bottom: 20px;
}

#message-container {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: 100%;
	width: 100%;
}
.message {
	max-width: 70%;
	padding: 10px;
	margin-bottom: 2px;
}

.message:first-child {
	margin-top: auto;
}

.message.sent {
	background-color: lightgray;
	align-self: flex-end;
}

.message.received {
	background-color: white;
	align-self: flex-start;
}

#chat-section form {
	margin-top: 20px;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

#chat-section form textarea {
	max-width: 69%;
	min-width: 69%;
	background: #ffffff;
	border: none;
	color: #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 1%;
	min-height: 30px;
	max-height: 100px;
}

#chat-section form textarea::placeholder {
	font-weight: bold;
	color: #acacac;
	font-size: 16px;
}

#chat-section form button {
	width: 30%;
}

.chatroom-container .chat-actions {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
}

.chat-actions .contact {
	width: 80%;
}

.chat-actions h2 {
	width: 80%;
}

.chat-actions .new-contact-div-contact {
	width: 100%;
}

.chat-actions .btn-danger {
	order: 3;
	margin-top: auto;
}
