@import url('https://fonts.googleapis.com/css?family=Roboto|Rock+Salt&display=swap');

* {
	font-family: Roboto;
}

a {
	text-decoration: none;
	color: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
}
