.contact-scroll-div {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
}

.contact-scroll-div h2,
.contact-scroll-div p {
	margin: 0 auto;
}

.new-contact-div-contact {
	position: relative;
	overflow: auto;
	align-items: center;
	width: 60%;
	height: 300px;
	display: flex;
	justify-content: center;
}

.contact.clicked .contact-info_hide {
	transition: all 0.3s ease;
	opacity: 1;
}

.contact-info {
	width: 70%;
	line-height: 2em;
}

.contact-info_hide {
	transition: all 0.3s ease;
	opacity: 0;
	/* position: absolute; */
}
.contact {
	font-size: 1.2em;
	cursor: pointer;
	position: relative;
	display: flex;
	flex-flow: row wrap;
	/* justify-content: space-between; */
	padding: 1em;
	width: 50%;
	max-height: 95px;
	box-shadow: 3px 5px 10px rgb(211, 211, 211);
	overflow: hidden;
	transition: all 0.3s ease;
	margin: 0 auto;
}

.contact > * {
	pointer-events: none;
}

.contact.clicked {
	transition: all 0.3s ease;
	max-height: 300px;
}

.contact-avatar {
	width: 20%;
}

.contact-avatar span {
	display: block;
	border-radius: 100%;
	height: 60px;
	width: 60px;
	box-shadow: 3px 5px 10px rgb(211, 211, 211);
	overflow: hidden;
	line-height: 90px;
}

.contact-avatar span img {
	width: 100%;
}

.contact-delete,
.contact-add {
	position: absolute;
	pointer-events: all;
	height: 45px;
	width: 45px;
	right: 2%;
	border: 1px solid;
	border-radius: 50%;
	display: flex;
	align-items: center;
}

.contact-cross {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	transform: translate(-50%, -50%);
	height: 20px;
}

.contact-delete:hover {
	background-color: rgb(228, 149, 149);
}

.contact-add:hover {
	background-color: rgb(181, 255, 168);
}

.contact-cross:before {
	transform: rotate(45deg);
}

.contact-cross:after {
	transform: rotate(-45deg);
}

.contact-addition:before {
	transform: rotate(90deg);
}

.contact-cross:before,
.contact-cross:after,
.contact-addition:before,
.contact-addition:after {
	position: absolute;
	left: 50%;
	top: 30%;
	content: ' ';
	height: 15px;
	width: 2px;
	background-color: #333;
}
