.chatroom-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 3em;
}

.chatroom-title-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.chatroom-title {
	margin-bottom: 0;
	width: 100%;
}

.chatroom-title-container p {
	margin-top: 0.2em;
	width: 100%;
}

.chatrooms {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.chatroom {
	position: relative;
	margin: 0 0.5em;
	width: 300px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	box-shadow: 3px 4px 10px rgb(243, 243, 243);
	transition: all 0.3s ease;
}

.chatroom:nth-of-type(1) {
	margin: 0 0.5em 0 0;
}

.chatroom p {
	font-size: 1.5em;
	text-transform: capitalize;
	font-weight: 700;
	opacity: 0.8;
	transition: all 0.3s ease;
}

.chatroom:hover {
	background-color: rgb(243, 242, 242);
	box-shadow: 1px 2px 8px rgb(243, 243, 243);
}

.chatroom:hover p {
	transform: scale(1.05);
	opacity: 1;
}

.chatroom:hover .chatroom-leave {
	opacity: 1;
	pointer-events: all;
	top: 5%;
}

.chatroom-link {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.chatroom-leave {
	transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
	opacity: 0;
	pointer-events: none;
	z-index: 10;
	align-items: center;
	display: flex;
	justify-content: center;
	width: 50px;
	height: 50px;
	background: rgb(253, 100, 100);
	position: absolute;
	border-radius: 100%;
	top: 10%;
	right: -5%;
	font-size: 1.5em;
}

.chatroom-leave:hover {
	background-color: rgb(197, 50, 50);
}
