ul {
	margin: 0;
	padding: 0;
}

.dashboard-container {
	display: flex;
	width: 50%;
	min-height: 600px;
	margin: 0 auto;
	justify-content: center;
	position: absolute;
	left: 25%;
	top: 10%;
}

.dashboard-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 800px;
	height: 800px;
	justify-content: space-evenly;
	align-items: center;
}

.dashboard-list-items {
	display: flex;
	width: 45%;
	height: 45%;
	background-color: aqua;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 4px 4px rgba(10, 10, 0, 0.4);
}
.dashboard-list-items:nth-child(1) {
	background-color: #ff8686;
}
.dashboard-list-items:nth-child(2) {
	background-color: #86c5ff;
}
.dashboard-list-items:nth-child(3) {
	background-color: #49dd72;
}
.dashboard-list-items:nth-child(4) {
	background-color: #ffcf86;
}
/* .dashboard-list-items a {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: black;
	font-weight: 600;
	font-size: 1.5em;
} */

.dashboard-tile {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tile-title {
	width: 100%;
}
